tools/n8n-mcp/workflows/02-function-orchestrator.json
{
  "name": "Function-As-A-Workflow Orchestrator [Pattern 2]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "function-orchestrator",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "function-orchestrator"
    },
    {
      "parameters": {
        "jsCode": "const { action, payload } = $json;\nreturn { action: action || 'unknown', payload: payload || {}, normalized_action: (action || '').toLowerCase().replace(/[^a-z0-9_]/g, '_') };"
      },
      "name": "Normalize Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.normalized_action }}",
              "value2": "search_vector",
              "options": { "caseSensitive": false }
            },
            {
              "value1": "={{ $json.normalized_action }}",
              "value2": "store_memory",
              "options": { "caseSensitive": false }
            },
            {
              "value1": "={{ $json.normalized_action }}",
              "value2": "exec_code",
              "options": { "caseSensitive": false }
            },
            {
              "value1": "={{ $json.normalized_action }}",
              "value2": "web_fetch",
              "options": { "caseSensitive": false }
            },
            {
              "value1": "={{ $json.normalized_action }}",
              "value2": "run_analysis",
              "options": { "caseSensitive": false }
            }
          ]
        }
      },
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const { query, limit = 5 } = $json.payload || {};\nreturn { result: `Vector search for: ${query}`, results: [], query };"
      },
      "name": "Search Vector DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 100]
    },
    {
      "parameters": {
        "jsCode": "const { key, value, namespace = 'default' } = $json.payload || {};\nreturn { result: `Stored ${key} in ${namespace}`, stored: true, key };"
      },
      "name": "Store Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 250]
    },
    {
      "parameters": {
        "jsCode": "const { code, language = 'js' } = $json.payload || {};\ntry {\n  const fn = new Function('data', code || 'return null');\n  const output = fn($json.payload);\n  return { result: output, executed: true };\n} catch (e) {\n  return { error: e.message, executed: false };\n}"
      },
      "name": "Execute Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 400]
    },
    {
      "parameters": {
        "jsCode": "return { result: `Web fetch not implemented in sandbox`, warning: 'web_fetch requires HTTP node' };"
      },
      "name": "Web Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 550]
    },
    {
      "parameters": {
        "jsCode": "return { result: `Analysis completed`, analyzed: true };"
      },
      "name": "Run Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 700]
    },
    {
      "parameters": {
        "jsCode": "return { error: `Unknown action: ${$json.normalized_action}`, supported_actions: ['search_vector','store_memory','exec_code','web_fetch','run_analysis'] };"
      },
      "name": "Unknown Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 850]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nreturn { action: $json.normalized_action, result: results[0], orchestrated: true };"
      },
      "name": "Merge Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Normalize Action", "type": "main", "index": 0 }]]
    },
    "Normalize Action": {
      "main": [[{ "node": "Route Action", "type": "main", "index": 0 }]]
    },
    "Route Action": {
      "main": [
        [{ "node": "Search Vector DB", "type": "main", "index": 0 }],
        [{ "node": "Store Memory", "type": "main", "index": 1 }],
        [{ "node": "Execute Code", "type": "main", "index": 2 }],
        [{ "node": "Web Fetch", "type": "main", "index": 3 }],
        [{ "node": "Run Analysis", "type": "main", "index": 4 }],
        [{ "node": "Unknown Action", "type": "main", "index": 5 }]
      ]
    },
    "Search Vector DB": {
      "main": [[{ "node": "Merge Result", "type": "main", "index": 0 }]]
    },
    "Store Memory": {
      "main": [[{ "node": "Merge Result", "type": "main", "index": 0 }]]
    },
    "Execute Code": {
      "main": [[{ "node": "Merge Result", "type": "main", "index": 0 }]]
    },
    "Web Fetch": {
      "main": [[{ "node": "Merge Result", "type": "main", "index": 0 }]]
    },
    "Run Analysis": {
      "main": [[{ "node": "Merge Result", "type": "main", "index": 0 }]]
    },
    "Unknown Action": {
      "main": [[{ "node": "Merge Result", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {},
  "tags": ["agentic-ai", "orchestration", "tool-use"],
  "id": "pattern-02-function-orchestrator"
}
