tools/n8n-mcp/workflows/03-skills-loader.json
{
  "name": "Configurable Skills Loader [Pattern 3]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "skills-loader",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "skills-loader"
    },
    {
      "parameters": {
        "jsCode": "const { intent, context } = $json;\nconst skillRegistry = {\n  'write_meta_description': {\n    name: 'Meta Description Writer',\n    prompt: 'Write a compelling meta description under 160 chars. Include primary keyword near the start. Use active voice and a call-to-action.',\n    max_length: 160,\n    temperature: 0.3\n  },\n  'refactor_component': {\n    name: 'React Component Refactorer',\n    prompt: 'Refactor React components following project patterns: prefer Server Components, extract logic to hooks, use @repo/ui components, keep under 200 lines.',\n    conventions: ['use @repo/ui', 'Server Components by default', 'keep under 200 lines']\n  },\n  'debug_issue': {\n    name: 'Systematic Debugger',\n    prompt: 'Follow 5-step debug: Reproduce -> Hypothesize -> Investigate -> Root Cause -> Fix. Check git blame for recent changes. Test before and after.',\n    steps: ['reproduce', 'hypothesize', 'investigate', 'root_cause', 'fix']\n  },\n  'write_test': {\n    name: 'Test Writer',\n    prompt: 'Write Jest unit tests following project patterns. Mock @repo/supabase. Test behavior not implementation. Cover happy path + edge cases.',\n    patterns: ['Jest + Testing Library', 'mock @repo/supabase', 'cover edge cases']\n  },\n  'security_review': {\n    name: 'Security Reviewer',\n    prompt: 'Review for: RLS policies, auth middleware, SQL injection, XSS, service key usage, department isolation. Check ALL files in the change set.',\n    focus: ['RLS', 'auth', 'SQL injection', 'XSS', 'department isolation']\n  },\n  'optimize_performance': {\n    name: 'Performance Optimizer',\n    prompt: 'Identify bundle size issues, unnecessary re-renders, missing memoization, large dependencies. Use next/dynamic for heavy components.',\n    checks: ['bundle size', 're-renders', 'memoization', 'code splitting']\n  }\n};\nconst skill = skillRegistry[intent] || { name: 'Unknown', prompt: 'No specialized skill found for this intent.', fallback: true };\nreturn { skill, matched: !skill.fallback, intent };"
      },
      "name": "Skill Registry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "jsCode": "const { skill, intent } = $json;\nreturn {\n  skill_name: skill.name,\n  skill_prompt: skill.prompt,\n  metadata: { intent, max_length: skill.max_length, temperature: skill.temperature },\n  usage_tip: 'Inject this prompt into your system message for the current task only. Do NOT retain after completion.'\n};"
      },
      "name": "Format Skill",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Skill Registry", "type": "main", "index": 0 }]]
    },
    "Skill Registry": {
      "main": [[{ "node": "Format Skill", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {},
  "tags": ["agentic-ai", "context", "efficiency"],
  "id": "pattern-03-skills-loader"
}
