tools/n8n-mcp/workflows/04-vector-memory.json
{
  "name": "LTM Vector Memory [Pattern 4]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vector-memory",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "vector-memory"
    },
    {
      "parameters": {
        "jsCode": "const { mode, query, content, namespace = 'default' } = $json;\nif (!mode) return { error: 'mode required: search | store | delete' };\nreturn { mode, query, content, namespace };"
      },
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mode }}",
              "value2": "search",
              "options": { "caseSensitive": false }
            },
            {
              "value1": "={{ $json.mode }}",
              "value2": "store",
              "options": { "caseSensitive": false }
            }
          ]
        }
      },
      "name": "Mode Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const { query, namespace, limit = 5 } = $json;\nconst ltmPath = '/home/timothy/Project/Arch-Mk2/ltm/store';\nconst fs = require('fs');\nconst path = require('path');\nconst results = [];\nif (fs.existsSync(ltmPath)) {\n  const files = fs.readdirSync(ltmPath).filter(f => f.endsWith('.jsonl'));\n  for (const file of files) {\n    const lines = fs.readFileSync(path.join(ltmPath, file), 'utf8').split('\\n').filter(Boolean);\n    for (const line of lines.slice(-100)) {\n      try {\n        const record = JSON.parse(line);\n        const searchText = JSON.stringify(record).toLowerCase();\n        if (query && searchText.includes(query.toLowerCase())) {\n          results.push({ file, record });\n          if (results.length >= limit) break;\n        }\n      } catch (e) {}\n    }\n    if (results.length >= limit) break;\n  }\n}\nreturn { results, total: results.length, mode: 'search', query, searched_files: fs.existsSync(ltmPath) ? fs.readdirSync(ltmPath).filter(f => f.endsWith('.jsonl')) : [] };"
      },
      "name": "Search LTM Store",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 200]
    },
    {
      "parameters": {
        "jsCode": "const { content, namespace } = $json;\nconst ltmPath = '/home/timothy/Project/Arch-Mk2/ltm/store';\nconst fs = require('fs');\nconst path = require('path');\nif (!fs.existsSync(ltmPath)) {\n  fs.mkdirSync(ltmPath, { recursive: true });\n}\nconst eventFile = path.join(ltmPath, 'events.jsonl');\nconst event = {\n  id: `evt_${Date.now()}`,\n  ts: new Date().toISOString(),\n  type: 'n8n_vector_store',\n  summary: typeof content === 'string' ? content : JSON.stringify(content).slice(0, 200),\n  source: 'n8n-vector-memory',\n  namespace\n};\nfs.appendFileSync(eventFile, JSON.stringify(event) + '\\n');\nreturn { stored: true, event_id: event.id, file: eventFile, mode: 'store' };"
      },
      "name": "Store in LTM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 400]
    },
    {
      "parameters": {
        "jsCode": "return { error: `Unknown mode: ${$json.mode}`, supported: ['search', 'store'] };"
      },
      "name": "Unknown Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 600]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nreturn { mode: $json.mode, result: results[0], vector_memory: true };"
      },
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Parse Request", "type": "main", "index": 0 }]]
    },
    "Parse Request": {
      "main": [[{ "node": "Mode Router", "type": "main", "index": 0 }]]
    },
    "Mode Router": {
      "main": [
        [{ "node": "Search LTM Store", "type": "main", "index": 0 }],
        [{ "node": "Store in LTM", "type": "main", "index": 1 }],
        [{ "node": "Unknown Mode", "type": "main", "index": 2 }]
      ]
    },
    "Search LTM Store": {
      "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]]
    },
    "Store in LTM": {
      "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]]
    },
    "Unknown Mode": {
      "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {},
  "tags": ["agentic-ai", "memory", "ltm"],
  "id": "pattern-04-vector-memory"
}
