tools/n8n-mcp/workflows/06-orchestrator-worker.json
{
  "name": "Orchestrator-Worker Multi-Agent [Pattern 6]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrator-worker",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "orchestrator-worker"
    },
    {
      "parameters": {
        "jsCode": "const { task, subtasks } = $json;\nif (!Array.isArray(subtasks) || subtasks.length === 0) {\n  return { error: 'subtasks array required', task };\n}\nreturn {\n  task,\n  subtasks: subtasks.map((s, i) => ({\n    id: `subtask-${i + 1}`,\n    description: s,\n    worker: i % 2 === 0 ? 'worker-a' : 'worker-b',\n    status: 'pending'\n  }))\n};"
      },
      "name": "Decompose Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "jsCode": "const subtasks = $json.subtasks || [];\nfor (const s of subtasks) { s.status = 'running'; }\nreturn { ...$json, subtasks };"
      },
      "name": "Mark Running",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const subtask = $json;\nconst results = {\n  'worker-a': 'Worker A completed: analysis done',\n  'worker-b': 'Worker B completed: implementation done'\n};\nreturn {\n  ...subtask,\n  status: 'complete',\n  result: results[subtask.worker] || `Worker processed: ${subtask.description}`,\n  completed_at: new Date().toISOString()\n};"
      },
      "name": "Execute Subtask",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 300]
    },
    {
      "parameters": {
        "jsCode": "const outputs = $input.all();\nconst completed = outputs.filter(o => o.status === 'complete');\nreturn {\n  task: $json.task,\n  total_subtasks: outputs.length,\n  completed: completed.length,\n  results: outputs,\n  all_done: completed.length === outputs.length,\n  summary: `Completed ${completed.length}/${outputs.length} subtasks`\n};"
      },
      "name": "Synthesize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Decompose Task", "type": "main", "index": 0 }]]
    },
    "Decompose Task": {
      "main": [[{ "node": "Mark Running", "type": "main", "index": 0 }]]
    },
    "Mark Running": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },
    "Split In Batches": {
      "main": [[{ "node": "Execute Subtask", "type": "main", "index": 0 }]]
    },
    "Execute Subtask": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {},
  "tags": ["agentic-ai", "multi-agent", "orchestration"],
  "id": "pattern-06-orchestrator-worker"
}
