tools/n8n-mcp/workflows/08-parallel-executor.json
{
  "name": "Parallel Sub-Workflow Executor [Pattern 8]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "parallel-executor",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "parallel-executor"
    },
    {
      "parameters": {
        "jsCode": "const { sources } = $json;\nif (!Array.isArray(sources)) return { error: 'sources array required' };\nreturn { sources: sources.map((s, i) => ({ id: `source-${i + 1}`, ...s, status: 'pending' })) };"
      },
      "name": "Parse Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\nconst { type, target, params } = source;\nconst results = {\n  'weather': { temperature: 22, humidity: 65, conditions: 'partly_cloudy', source: 'openweather' },\n  'news': { headlines: ['Local mining output up 12%', 'New safety regulations announced'], source: 'newsapi' },\n  'stocks': { indices: { asx200: 7821.5, mining_sector: 3.2 }, source: 'marketstack' },\n  'database': { query_result: 'SELECT returned 42 rows', source: 'postgres' },\n  'file_system': { files: ['report.pdf', 'data.csv'], source: 'local' }\n};\nconst result = results[type] || { error: `Unknown source type: ${type}`, source: type };\nreturn { ...source, status: 'complete', data: result, fetched_at: new Date().toISOString() };"
      },
      "name": "Fetch Data Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "const outputs = $input.all();\nconst completed = outputs.filter(o => o.status === 'complete');\nconst errors = outputs.filter(o => o.data?.error);\nreturn {\n  total_sources: outputs.length,\n  completed: completed.length,\n  errors: errors.length,\n  results: completed.map(o => ({\n    id: o.id,\n    type: o.type,\n    data: o.data,\n    elapsed_ms: o.elapsed_ms\n  })),\n  parallel: true,\n  summary: `Fetched ${completed.length}/${outputs.length} sources in parallel (${errors.length} errors)`\n};"
      },
      "name": "Merge Parallel Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Parse Sources", "type": "main", "index": 0 }]]
    },
    "Parse Sources": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },
    "Split In Batches": {
      "main": [[{ "node": "Fetch Data Source", "type": "main", "index": 0 }]]
    },
    "Fetch Data Source": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {},
  "tags": ["agentic-ai", "parallel", "performance"],
  "id": "pattern-08-parallel-executor"
}
