tools/n8n-mcp/workflows/automation-mesh/04-data-sync.json
{
  "name": "Arch Mesh — Data Sync Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mesh/data-sync",
        "options": {}
      },
      "name": "Data Sync Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "mesh-data-sync"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body || $json;\nconst validSyncs = [\n  'employees-to-active-directory',\n  'machines-to-telemetry-hub',\n  'incidents-to-compliance-db',\n  'shift-logs-to-warehouse'\n];\nif (!payload.syncType || !validSyncs.includes(payload.syncType)) {\n  return { error: 'Invalid sync type', validSyncs };\n}\nreturn { syncType: payload.syncType, direction: payload.direction || 'outbound', startedAt: new Date().toISOString() };"
      },
      "name": "Validate Sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [350, 300]
    },
    {
      "parameters": {
        "jsCode": "const { syncType } = $json;\nconst mappings = {\n  'employees-to-active-directory': { source: 'supabase', target: 'ldap', table: 'employees' },\n  'machines-to-telemetry-hub': { source: 'supabase', target: 'mqtt', table: 'machines' },\n  'incidents-to-compliance-db': { source: 'supabase', target: 'postgres', table: 'safety_incidents' },\n  'shift-logs-to-warehouse': { source: 'supabase', target: 'clickhouse', table: 'shift_logs' }\n};\nreturn { ...$json, mapping: mappings[syncType], status: 'syncing' };"
      },
      "name": "Resolve Mapping",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/trigger_sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "body": "={{ JSON.stringify({ sync_type: $json.syncType, direction: $json.direction }) }}",
        "options": {
          "timeout": 60000,
          "maxRetries": 3,
          "retryOn": ["5XX", "timeout"]
        }
      },
      "name": "Execute Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nreturn {\n  status: 'completed',\n  syncType: $json.syncType,\n  mapping: response?.mapping || $json.mapping,\n  durationMs: Date.now() - new Date($json.startedAt).getTime(),\n  completedAt: new Date().toISOString()\n};"
      },
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Data Sync Webhook": {
      "main": [[{ "node": "Validate Sync", "type": "main", "index": 0 }]]
    },
    "Validate Sync": {
      "main": [[{ "node": "Resolve Mapping", "type": "main", "index": 0 }]]
    },
    "Resolve Mapping": {
      "main": [[{ "node": "Execute Sync", "type": "main", "index": 0 }]]
    },
    "Execute Sync": {
      "main": [[{ "node": "Format Result", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "tags": ["automation-mesh", "data-sync", "etl"],
  "id": "mesh-data-sync"
}